:focus:not(:focus-visible) {
  outline: none;
}

body {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  text-align: center;
  color: #ccc;
  padding-top: 80px;
}

.entry-container {
  padding: 2rem;
}